.home-main-bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home-heading {
  font-family: 'Roboto';
  font-size: 20px;
}
.home-details {
  font-size: 20px;
  font-family: 'Roboto';
}

.home-reply {
  font-family: 'Roboto';
  font-size: 20px;
}

.get-file {
  font-family: 'Roboto';
  font-size: 14px;
}

.list-items-container {
  list-style: none;
  border: 1px solid;
  width: 80vh;
}

.user-item-container {
  margin-bottom: 5px;
  padding: 4px;
}
